[package]
name = "orbclient"
version = "0.3.24"
authors = ["Jeremy Soller <jackpot51@gmail.com>"]
description = "The Orbital Client Library"
documentation = "https://docs.rs/orbclient"
repository = "https://gitlab.redox-os.org/redox-os/orbclient"
readme = "README.md"
license = "MIT"
keywords = [
    "orbital",
    "redox",
    "ui",
]

[features]
default = []
no_std = []

[lib]
name = "orbclient"
path = "src/lib.rs"
[target.'cfg(all(not(feature="no_std"), not(target_os = "redox")))'.dependencies]
sdl2 = "0.32.2"
[target.'cfg(all(not(feature="no_std"), target_os="redox"))'.dependencies]
redox_syscall = "0.1.56"
