[package]
name = "orbclient"
description = "The Orbital Client Library"
repository = "https://github.com/redox-os/orbclient"
version = "0.2.11"
license-file = "LICENSE"
readme = "README.md"
keywords = ["orbital", "redox", "ui"]
authors = ["Jeremy Soller <jackpot51@gmail.com>"]

[lib]
name = "orbclient"
path = "src/lib.rs"

[target.'cfg(not(target_os = "redox"))'.dependencies]
sdl2 = "0.27"

[target.'cfg(target_os = "redox")'.dependencies]
redox_syscall = "0.1"
